<div class="product-card">
    <div class="product-header">
        <i class="fa-regular fa-heart product-like"></i>
        <img src="<%= imgSrc %>" alt="<%= name %>">
    </div>
    <div class="product-info">
        <p class="product-size"><%= size %></p>
        <p class="product-name"><%= name %></p>
        <p class="product-price">$<%= price %></p>
    </div>
    <button class="add-to-cart">Add to Cart</button>
</div>