<%- include("../../views/partials/admin/header") %>
<style>
  .pagination-container {
    text-align: center;
  }
  .pagination {
    display: inline-block;
  }

  .pagination a,
  .pagination .current-page {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
  }

  .pagination a:hover {
    background-color: #f5f5f5;
  }
  .error-message {
    color: red;
  }
</style>


    <div class="main-layout">
        
        <aside class="sidebar">
            <nav class="sidebar-nav">
                <ul>
                    <li class="<%= locals.page === 'dashboard' ? 'active' : '' %>">
                        <a href="/admin" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-tachometer-alt"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="<%= locals.page === 'addProducts' ? 'active' : '' %>">
                        <a href="/admin/addProducts" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-plus-circle"></i>
                            Add Items
                        </a>
                    </li>
                   <li class="<%= locals.page === 'products' ? 'active' : '' %>">
                        <a href="/admin/products" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-list"></i>
                            Products
                        </a>
                    </li>
                    <li class="<%= locals.page === 'brands' ? 'active' : '' %>">
                        <a href="/admin/brands" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-clipboard-list"></i>
                            Brands
                        </a>
                    </li>
                    <li class="<%= locals.page === 'users' ? 'active' : '' %>">
                        <a href="/admin/users" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-users"></i>
                            Users
                        </a>
                    </li>
                    <li>
                        <a href="/admin/coupons" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-tags"></i>
                            Coupons
                        </a>
                    </li>
                    <li>
                        <a href="/admin/sales-report" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-chart-line"></i>
                            Sales Report
                        </a>
                    </li>
                   <li class="<%= locals.page === 'category' ? 'active' : '' %>">
                        <a href="/admin/category" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-folder-open"></i>
                            Category
                        </a>
                    </li>
                    <li>
                        <a href="/admin/offers" style="color: inherit; text-decoration: none; display: flex; align-items: center; width: 100%; height: 100%;">
                            <i class="fas fa-gift"></i>
                            Offers
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Brands</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <form method="post" action="/admin/addBrand" enctype="multipart/form-data">
            <div class="mb-4">
              <label for="product_name" class="form-label">Brand Name</label>
              <input
                type="text"
                name="name"
                placeholder="Type here"
                class="form-control"
              />
            </div>
            <label for="product_name" class="form-label">Brand Image</label>
            <div class="input-upload">
              <img src="" alt=""/>
              <input class="form-control border" name="image" type="file" />
            </div>
            <div class="d-grid">
              <button class="btn btn-primary mt-20" type="submit">
                Add Brand
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-7 ml-105">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Brand</th>
                  <th>Logo</th>
                  <th>Status</th>
                  <th>Block/Unblock/Delete</th>
                </tr>
              </thead>
              <tbody>
                <%data.reverse().forEach((brand,index)=>{%>
                <tr>
                  <td class="text-start"><%=brand.brandName%></td>
                  <td class="text-start">
                    <div
                      class="d-flex align-items-center justify-content-center"
                      style="
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                      "
                    >
                      <img
                        src="/uploads/re-image/<%=brand.brandImage[0]%>"
                        alt="<%=brand.brandName%>"
                        class="img-fluid rounded-circle"
                        style="width: 100%; height: auto"
                      />
                    </div>
                  </td>
                  <td class="text-start">
                    <%if(brand.isBlocked===true){%>
                    <span
                      class="badge rounded-pill alert-danger"
                      style="width: 60px"
                      >Blocked</span
                    >
                    <%}else{%>

                    <span
                      class="badge rounded-pill alert-success"
                      style="width: 60px"
                      >Active</span
                    >
                    <%}%>
                  </td>
                

                  <td class="text-start" style="display: flex;">
    <% if (brand.isBlocked === false) { %>
        <button class="btn btn-danger" style="width: 90px;">
            <a href="/admin/blockBrand?id=<%= brand._id %>" class="text-white">Block</a>
        </button>
    <% } else { %>
        <button class="btn btn-success" style="width: 90px;">
            <a href="/admin/unBlockBrand?id=<%= brand._id %>" class="text-white">Unblock</a>
        </button>
    <% } %>

    <button class="btn btn-danger" style="width: 90px; margin-left: 5px;" onclick="return confirmDelete()">
        <a href="/admin/deleteBrand?id=<%= brand._id %>" class="text-white">Delete</a>
    </button>
</td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-container">
     <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mb-4" style="list-style: none; display: flex;">
                        <% if (currentPage>1){%>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage -1%>">&laquo; Previous</a>
                            </li>
                        <%}%>
                        <% for(let i=1; i<=totalPages; i++){%> 
                            <li class="page-item <%=(i===currentPage) ? 'active' : '' %> ">
                                <a class="page-link" href="?page=<%= i %>"><%= i%></a>
                            </li>
                        <% } %> 
                        <% if (currentPage < totalPages){%> 
                            <li class="page-item">
                                <a class="page-link" href="?page=<%=currentPage +1 %>">Next &raquo;</a>
                            </li>
                        <%}%>
                    </ul>
                </nav>
</div>
</section>

    </div>


    <script>
      function confirmDelete(){
        return confirm("Are you sure you want to delete this brand?")
      }
    </script>

