<%- include('../partials/user/header.ejs') %>

<main class="main">
    <div class="container mt-4">

        <div class="breadcrumb mb-4">
            <a href="/">Home</a> /
            <a href="/shop">Fashion</a> /
            <span>Product Detail Page</span>
        </div>

        <div class="row" style="    display: flex;
    justify-content: space-evenly;">

            <!-- LEFT: PRODUCT IMAGE GALLERY -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="product-gallery">



                   
                    <!-- MAIN IMAGES -->
                    <div class="main-images mb-3">
                    
                            <img id="mainImage"
                             class="product-main-img"
                              src="/uploads/re-image/<%= product.productImage[0] %>"/>
                        
                    </div>

                    <!-- THUMBNAILS -->
                    <div class="thumb-gallery d-flex">
                        <% product.productImage.forEach(img => { %>
                            <img class="thumb-img" src="/uploads/re-image/<%= img %>" 
                            onclick="document.getElementById('mainImage').src=this.src;"/>
                        <% }) %>
                    </div>

                </div>
            </div>

            <!-- RIGHT: PRODUCT INFO -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="product-info">

                    <h2 class="product-title"><%= product.productName %></h2>

                    <div class="brand-box mb-2">
                        <span>Brand:</span>
                        <a href="#"><%= product.brand %></a>
                    </div>

                    <!-- PRICE -->
                    <div class="price-box mb-3">
                        <span class="sale-price">₹ <%= product.salePrice %></span>
                        <span class="regular-price">₹ <%= product.regularPrice %></span>
                        <span class="offer">
                            <% if (!totalOffer) { %> No offer
                            <% } else { %> <%= totalOffer %>% Off <% } %>
                        </span>
                    </div>

                    <!-- DESCRIPTION -->
                    <p class="description">
                        <%= product.description %>
                    </p>

                    <!-- WARRANTY -->
                    <ul class="product-features">
                        <li>1 Year Brand Warranty</li>
                        <li>30 Day Return Policy</li>
                        <li>Cash on Delivery available</li>
                    </ul>

                    <!-- ADD TO CART -->
                    <div class="cart-box mt-3">
                        <button class="btn btn-dark">Add to Cart</button>
                        <button class="btn btn-outline-secondary ms-2">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </div>

                    <!-- META -->
                    <ul class="product-meta mt-4">
                        <li>Stock Code: FWM15VT</li>
                        <li>Category: <%= category.name %></li>
                        <li>Availability: <%= quantity %> Items in Stock</li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
</main>

<%- include('../partials/user/footer.ejs') %>
